#wrapper .js-tooltip-unicorn {
  display: block;
  float: left;
  height: 22px;
  margin-left: 10px;
  margin-bottom: -8px;
  position: relative;
  width: 100%;
}
#wrapper .js-tooltip-unicorn-right {
  float: right;
  margin-bottom: -8px;
  margin-left: 0;
  margin-right: 10px;
}
#wrapper .js-tooltip-wrapper .js-tooltip-no-unicorn {
  display: none;
}
#wrapper .js-tooltip-wrapper {
  display: none;
  float: left;
  padding-top: 20px;
  position: absolute;
}
#wrapper .js-tooltip {
  display: block;
  float: left;
  padding: 10px 15px;
}
#wrapper .js-tooltip-unicorn {
  background-image: url("../images/tooltip-unicorn.png");
  background-position: left top;
  background-repeat: no-repeat;
}
#wrapper .js-tooltip-unicorn-right {
  background-position: right top;
}
#wrapper .js-tooltip {
  background-color: white;
  border: solid 2px #933;
  border-radius: 5px;
}
.showmore-link,
.showless-link {
  float: left;
  height: 25px;
  width: 100px;
}
body {
  background-color: #efefe6;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: ShadowsIntoLightTwo-Regular, "Verdana", sans-serif;
  margin: 0;
}
.clearBoth {
  clear: both;
}
.floatLeft {
  float: left;
}
.bold {
  font-weight: bold !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}
.petly-show {
  display: block !important;
}
#wrapper {
  max-width: 1000px !important;
  min-width: 1000px !important;
  width: 1000px !important;
}
.errorTextRed {
  text-align: left !important;
  color: red !important;
  font-weight: normal !important;
  width: auto;
  font-size: 12px !important;
  font-family: "Verdana", sans-serif !important;
  float: none !important;
}
.myInformationError,
.commPrefsError,
.errorCountTextRed {
  color: red;
  font-weight: normal !important;
  margin-top: 0 !important;
}
.red {
  color: #933 !important;
  float: none !important;
  width: auto !important;
  margin: 0 0 0 4px;
}
.errorOutlineRed {
  outline: solid 1px red;
}
.aui-field-error-red label {
  color: red !important;
}
.aui-field-error-red .aui-field-input-text,
.aui-field-error-red .aui-field-input-text:focus {
  outline: solid 1px red;
}
.columns-2 .portlet-petbook-column#column-1 {
  width: 500px;
}
.columns-2 #column-1-head {
  width: 440px;
  padding-left: 25px;
  padding-right: 35px;
}
.columns-2 .portlet-petbook-column#column-2 {
  float: left;
  margin-top: -15px;
  width: 490px;
}
.columns-2 #column-1-a {
  height: 290px !important;
  width: 240px;
  padding-left: 25px;
}
.columns-2 #column-1-b {
  height: 290px !important;
  margin-left: -20px;
  width: 200px;
}
.columns-2 #column-1-c {
  padding-left: 25px;
  width: 240px;
}
.columns-2 #column-1-d {
  padding: 0 0 0 10px;
  width: 215px;
}
.columns-2 #column-1-a,
.columns-2 #column-1-c,
.columns-2 #column-1-d,
.columns-2 #column-2-b {
  float: left;
}
.columns-2 #column-1-b,
.columns-2 #column-1-d,
.columns-2 #column-2-c {
  float: left;
}
.columns-2 #column-2-a {
  margin-left: 38px;
  width: auto;
}
.columns-2 #column-2-b {
  margin-left: 43px;
  width: 296px;
}
.columns-2 #column-2-c {
  padding-left: 8px;
  width: auto;
}
#banner {
  margin-top: 0;
}
#banner #siteTitleContainer {
  width: 525px;
  float: left;
  padding-top: 48px;
  padding-left: 30px;
}
.petbook-modal-page #banner #siteTitleContainer {
  padding-left: 0;
}
#banner #userContainer {
  width: 250px;
  float: left;
  padding-top: 65px;
}
#banner #userContainer ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#banner #userContainer li {
  margin-bottom: 5px;
}
#banner #userContainer a.accountContainer-link {
  float: left;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 16px;
  font-weight: normal;
}
#banner #userContainer span.js-user-container-arrow {
  float: left;
  height: 20px;
  width: 20px;
}
#layout-column_column-header {
  display: none;
}
#wrapper .practice-footer,
#wrapper .practice-footer * {
  background: transparent;
  background-color: transparent;
  border: none;
  font-size: 12px;
  margin: 0;
  list-style: none;
  list-style-image: none;
  padding: 0;
  text-decoration: none;
  float: left;
}
#wrapper .practice-footer {
  float: left;
  padding: 20px 0;
  width: 1000px;
}
#wrapper .practice-footer-column-wrapper {
  float: left;
  padding-top: 15px;
}
#wrapper .practice-footer-column {
  float: left;
  padding: 0 35px 20px;
}
#wrapper .petly .practice-footer-column {
  padding: 0 10px 30px 35px;
}
#wrapper .item-border-right {
  border-right: 1px solid silver;
}
#wrapper .item-border-right:last-of-type {
  border: 0;
}
#wrapper .practice-footer h3 {
  font-size: 16px;
  white-space: pre;
  width: 100%;
}
#wrapper .practice-footer li {
  margin-top: 3px;
  width: 100%;
}
#wrapper .practice-footer .fixed-width {
  display: block;
  float: left;
  width: 100px;
}
#wrapper .practice-footer .icon-link {
  background-image: url("../images/footer-icon-sprite2.png");
  background-repeat: no-repeat;
  float: left;
  height: 27px;
  line-height: 25px;
  padding: 0 0 0 35px;
}
#wrapper .practice-footer .icon-facebook {
  background-position: 0 0;
}
#wrapper .practice-footer .icon-twitter {
  background-position: 0 -31px;
}
#wrapper .practice-footer .icon-email {
  background-position: 0 -62px;
}
#wrapper .practice-footer .icon-website {
  background-position: 0 -90px;
}
#wrapper .copyright {
  float: left;
  padding: 10px 35px 15px;
  width: auto;
}
#wrapper .copyright li {
  float: left;
  margin: 0;
  padding: 0 10px;
  width: auto;
}
#wrapper .copyright li,
#wrapper .copyright span,
#wrapper .copyright a {
  font-size: 9px;
}
.portlet {
  border: none;
  margin: 0;
}
.portlet h2 {
  float: left;
  margin-bottom: 0;
  width: 100%;
}
.portlet h2.title,
.portlet h3.subtitle {
  margin: 0;
  width: 100%;
  line-height: normal;
}
.portlet-content {
  padding: 0 5px;
}
.portlet-login .portlet-content {
  border: 0;
  background-color: #fff;
}
#p_p_id_petlypracticefooter_WAR_vet2petportal_ .portlet-content {
  padding: 0;
}
#layout-column_column-footer {
  padding: 0;
}
#portlet_petlypracticefooter_WAR_vet2petportal.portlet {
  padding: 0;
}
.non-admin .portlet-topper {
  display: none;
}
.petbook-page #banner {
  height: 120px;
  margin-top: 0;
}
#petSelectorForm h2 {
  color: white;
}
.home #portlet_petselector_WAR_vet2petportal {
  border: 0;
}
.home #portlet_petselector_WAR_vet2petportal #selectedPetId {
  width: 195px;
  margin-left: 0;
}
.pet-selector {
  margin-top: -13px;
}
.pet-selector h2 {
  clear: both;
  display: block;
  overflow: hidden;
  width: auto;
}
#petSelectorForm h2,
#petSelectorForm h2 *,
.pet-selector h2 *,
.pet-selected {
  color: white;
}
.pet-selector h2 a {
  display: block;
  float: left;
}
.pet-selector h2 a span {
  float: left;
}
.pet-selector select {
  display: none;
}
.pet-selector ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  width: 295px;
}
.pet-selector li {
  margin-bottom: 5px;
}
.pet-selector .js-tooltip-wrapper {
  margin-top: 50px !important;
}
.pet-selector ul.js-tooltip-click-content {
  display: none;
}
.pet-selector span.js-pet-selector-arrow {
  display: block;
  height: 30px;
  width: 30px;
}
#wrapper .js-tooltip,
#wrapper .js-tooltip * {
  color: black;
  font-family: "Verdana", sans-serif;
  font-size: 13px;
}
#wrapper .js-tooltip a {
  color: #933 !important;
  font-family: "Verdana", sans-serif;
  font-size: 13px;
}
#wrapper .js-tooltip a:hover {
  color: #06c !important;
}
.pet-selector-tab {
  left: 6px;
  position: absolute;
  top: 186px;
  z-index: 0;
}
.pet-selector-tab a {
  background-color: transparent;
  background-image: url(../images/MorePetsTab.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
  height: 80px;
  width: 20px;
}
.selected-pet-picture-container {
  height: 261px;
  margin-top: 10px;
  padding: 10px;
  width: 215px;
}
.selected-pet-picture-container a#uploadNewImage {
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 195px;
}
.selected-pet-picture-container .js-tooltip-wrapper ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.selected-pet-picture-container .js-tooltip-wrapper li {
  color: #933;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}
.selected-pet-picture-container a.pet-image-link {
  float: left;
  display: block;
}
.selected-pet-picture-container #selected-pet-caption {
  color: #933;
  float: left;
  font-family: "Verdana", sans-serif;
  font-size: 11px;
  margin-top: 10px;
  text-align: center;
  width: 195px;
}
.pet-details img {
  float: left;
  margin-top: -5px;
  margin-right: 5px;
}
.pet-details ul {
  padding: 20px 0 0 0;
  margin: 0;
  list-style: none;
}
.pet-details ul li {
  float: left;
  margin-bottom: 10px;
  width: 185px;
}
.pet-details ul li h4 {
  float: left;
  width: 150px;
}
.pet-details ul li h4.descriptive-age {
  text-align: left;
  width: 100%;
  float: none;
}
.pet-details ul li a {
  color: #933;
}
.pet-life a {
  margin-top: 5px;
  float: left;
}
#portlet_petlinks_WAR_vet2petportal {
  border: 0;
}
.pet-links {
  float: left;
  margin: 0;
  list-style: none;
  list-style-image: none;
  width: 115px;
}
.pet-links a {
  float: left;
}
.pet-life {
  float: left;
  margin: 0;
}
.phn-search .search-field img,
.phn-search .search-field a {
  width: 28px;
  height: 23px;
}
.phn-search .search-field a {
  display: inline-block;
}
.phn-search .search-field input,
.phn-search .search-field a {
  vertical-align: middle;
}
.phn-search .search-field input {
  height: 12px;
  width: 163px;
  border: none;
}
.phn-search div.search-field {
  width: 201px;
  height: 28px;
  padding: 8px 4px 4px 8px;
}
.pet-info {
  height: 263px !important;
  overflow: hidden;
}
.pet-info ul {
  list-style: none;
  list-style-image: none;
  margin: 15px 0 0 0;
  padding: 0;
}
.pet-info li {
  margin-bottom: 10px;
}
.reminder-message {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 1;
}
.reminder-message h2.title {
  margin-left: 6px;
}
.reminder-message h4 {
  margin-bottom: 0;
  padding-bottom: 10px;
  text-align: right;
  width: 174px;
}
.reminder-message h5,
.reminder-message h6 {
  text-align: right;
}
.lab-results-content .embedded-pdf,
.medical-notes-content .embedded-pdf {
  width: 900px;
  height: 800px;
}
.link-appointment-request {
  width: 200px;
  padding: 5px;
  float: right;
  margin-top: -30px;
  margin-right: -10px;
}
.reminder-message span.js-pet-selector-arrow {
  background-position: right top;
  display: block;
  float: right;
  height: 30px;
  width: 30px;
}
.overdue-appointment-request {
  font-size: 14px;
  font-weight: normal;
  color: red;
  float: right;
}
.portlet .medical-history {
  float: left;
  height: 290px;
  padding-left: 20px;
  padding-top: 10px;
  width: 420px;
}
.portlet .medical-history h4,
.portlet .medical-history h5 {
  font-weight: bold;
}
.portlet .js-expanded {
  position: relative;
  height: 606px;
  margin-bottom: -316px;
  z-index: 9999;
}
.portlet .js-expanded .showmore-content {
  height: 295px;
  overflow-y: auto;
}
.jcarousel-skin-vet2pet {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.jcarousel-skin-vet2pet .jcarousel-direction-rtl {
  direction: rtl;
}
.jcarousel-skin-vet2pet .jcarousel-container-horizontal {
  padding: 20px 40px;
}
.jcarousel-skin-vet2pet .jcarousel-container-vertical {
  width: 54px;
  height: 176px;
  padding: 40px 20px;
}
.jcarousel-skin-vet2pet .jcarousel-clip {
  overflow: hidden;
}
.jcarousel-skin-vet2pet .jcarousel-clip-horizontal {
  width: 246px;
  height: 54px;
}
.jcarousel-skin-vet2pet .jcarousel-clip-vertical {
  width: 54px;
  height: 176px;
}
.jcarousel-skin-vet2pet .jcarousel-item {
  width: 54px;
  height: 54px;
}
.jcarousel-skin-vet2pet .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 10px;
}
.jcarousel-skin-vet2pet .jcarousel-direction-rtl .jcarousel-item-horizontal {
  margin-left: 10px;
  margin-right: 0;
}
.jcarousel-skin-vet2pet .jcarousel-item-vertical {
  margin-bottom: 10px;
}
.jcarousel-skin-vet2pet .jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}
.jcarousel-skin-vet2pet .jcarousel-next-horizontal {
  position: absolute;
  top: 31px;
  right: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-vet2pet .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px;
  right: auto;
  background-image: url(../images/prev-horizontal.png);
}
.jcarousel-skin-vet2pet .jcarousel-next-horizontal:hover,
.jcarousel-skin-vet2pet .jcarousel-next-horizontal:focus {
  background-position: -32px 0;
}
.jcarousel-skin-vet2pet .jcarousel-next-horizontal:active {
  background-position: -64px 0;
}
.jcarousel-skin-vet2pet .jcarousel-next-disabled-horizontal,
.jcarousel-skin-vet2pet .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-vet2pet .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-vet2pet .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
.jcarousel-skin-vet2pet .jcarousel-prev-horizontal {
  position: absolute;
  top: 31px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-vet2pet .jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 5px;
  background-image: url(../images/next-horizontal.png);
}
.jcarousel-skin-vet2pet .jcarousel-prev-horizontal:hover,
.jcarousel-skin-vet2pet .jcarousel-prev-horizontal:focus {
  background-position: -32px 0;
}
.jcarousel-skin-vet2pet .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}
.jcarousel-skin-vet2pet .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-vet2pet .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-vet2pet .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-vet2pet .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
.jcarousel-skin-vet2pet .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(../images/next-vertical.png) no-repeat 0 0;
}
.jcarousel-skin-vet2pet .jcarousel-next-vertical:hover,
.jcarousel-skin-vet2pet .jcarousel-next-vertical:focus {
  background-position: 0 -32px;
}
.jcarousel-skin-vet2pet .jcarousel-next-vertical:active {
  background-position: 0 -64px;
}
.jcarousel-skin-vet2pet .jcarousel-next-disabled-vertical,
.jcarousel-skin-vet2pet .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-vet2pet .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-vet2pet .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}
.jcarousel-skin-vet2pet .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(../images/prev-vertical.png) no-repeat 0 0;
}
.jcarousel-skin-vet2pet .jcarousel-prev-vertical:hover,
.jcarousel-skin-vet2pet .jcarousel-prev-vertical:focus {
  background-position: 0 -32px;
}
.jcarousel-skin-vet2pet .jcarousel-prev-vertical:active {
  background-position: 0 -64px;
}
.jcarousel-skin-vet2pet .jcarousel-prev-disabled-vertical,
.jcarousel-skin-vet2pet .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-vet2pet .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-vet2pet .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}
.recent-visits-outer-container {
  float: left;
}
.recent-visits-outer-container .jcarousel-container-vertical {
  width: 217px;
  height: 200px;
  margin-top: 5px;
}
.recent-visits-outer-container .jcarousel-clip-vertical {
  height: 195px;
}
.recent-visits-outer-container .jcarousel-next-vertical {
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  background-position: -100px -100px !important;
}
.recent-visits-outer-container .jcarousel-prev-vertical {
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  background-position: -150px -100px !important;
}
.recent-visits-outer-container .jcarousel-prev-disabled-vertical,
.recent-visits-outer-container .jcarousel-prev-disabled-vertical:hover,
.recent-visits-outer-container .jcarousel-prev-disabled-vertical:focus,
.recent-visits-outer-container .jcarousel-prev-disabled-vertical:active {
  background-image: none;
}
.recent-visits-outer-container .jcarousel-next-disabled-vertical,
.recent-visits-outer-container .jcarousel-next-disabled-vertical:hover,
.recent-visits-outer-container .jcarousel-next-disabled-vertical:focus,
.recent-visits-outer-container .jcarousel-next-disabled-vertical:active {
  background-image: none;
}
.recent-visits-outer-container .jcarousel-item-vertical {
  width: 180px;
  text-align: left;
}
.recent-visits-outer-container .jcarousel-item-vertical.visit-info {
  height: auto !important;
  padding-left: 0;
}
.recent-visits-outer-container li.checklist {
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
  padding-top: 5px;
}
li.checklist img {
  display: inline-block;
  float: left;
  margin: -6px 0 0 0;
}
img.icon-checked {
  background-position: -50px -100px;
}
img.icon-information {
  background-position: 0 -101px;
}
li.checklist a {
  float: left;
  height: 23px;
  vertical-align: top;
}
.reminder-message-hover li a span,
.medical-history-reminders li a span,
li.checklist a span {
  display: inline-block;
  float: left;
  max-width: 130px;
  width: auto !important;
}
.reminder-message-hover li a span,
.medical-history-reminders li a span {
  max-width: 180px;
}
.appointment-reminder {
  position: absolute;
  right: 30px;
  top: 0;
}
.reminder-box {
  float: right;
  height: 105px;
  margin: 10px -10px 0 0;
  padding: 15px 0 0 0;
  width: 213px;
}
.medical-history .reminder-box h4 {
  font-size: 12px !important;
  text-align: center;
  width: 160px;
}
.reminder-box p,
.reminder-box p span.floatLeft {
  float: left;
  margin: 0;
  padding: 0;
}
.health-section-content {
  float: left;
  height: 69px;
  line-height: 16px;
  overflow: hidden;
  padding: 0 13px;
  width: 125px;
}
.reminder-box .health-section-content {
  padding: 0 0 0 13px;
  width: 136px;
}
.health-section-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.reminder-box a {
  color: #933;
  display: block;
  float: left;
}
.reminder-box span.js-reminder-box-arrow {
  display: block;
  float: left;
  height: 17px;
  width: 20px;
}
.reminder-box .js-tooltip-click-trigger {
  float: left;
}
.reminder-box .js-tooltip-wrapper,
.reminder-box .js-tooltip-wrapper strong,
.reminder-message .js-tooltip-wrapper,
.reminder-message .js-tooltip-wrapper strong {
  width: 280px;
}
.reminder-box .js-tooltip-wrapper ul,
.reminder-message .js-tooltip-wrapper ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.reminder-box .js-tooltip-wrapper ul li,
.reminder-message .js-tooltip-wrapper ul li {
  float: left;
  margin-bottom: 8px;
  width: 100%;
}
.reminder-box .js-tooltip-wrapper h5,
.reminder-message .js-tooltip-wrapper h5 {
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
.reminder-box .js-tooltip-wrapper li span,
.reminder-box .js-tooltip-wrapper li span a,
.reminder-message .js-tooltip-wrapper li span,
.reminder-message .js-tooltip-wrapper li span a {
  color: black;
  display: block;
  float: left;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
.reminder-box .js-tooltip-wrapper li a,
.reminder-message .js-tooltip-wrapper li a {
  display: inline;
  float: none;
}
.reminder-box .js-tooltip-wrapper a,
.reminder-message .js-tooltip-wrapper a {
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 15px;
}
.reminder-box .js-tooltip-wrapper a.centeredLink,
.reminder-message .js-tooltip-wrapper a.centeredLink {
  background: white;
  border: solid 1px #627782;
  border-radius: 5px;
  color: #933;
  cursor: pointer;
  display: block;
  float: none;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  margin: 10px auto;
  padding: 5px 8px;
  text-align: center;
}
.reminder-box .js-tooltip-wrapper li img,
.reminder-message .js-tooltip-wrapper li img {
  margin-bottom: -7px;
}
.inbox-box .health-section-header {
  margin-left: 40px;
}
.medical-history-icon-container {
  margin-left: auto;
  margin-right: auto;
  width: 90px;
}
.medical-history-icon {
  display: block;
  float: left;
  margin-left: 10px;
}
.medical-history-icon img,
img.MEDICAL_NOTE,
img.icon-checked,
img.icon-information,
img.LAB_RESULT {
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
}
.medical-history-icon img.icon-beaker,
img.LAB_RESULT {
  background-position: 10px -45px;
}
.medical-history-icon img.icon-file,
img.MEDICAL_NOTE {
  background-position: -45px -45px;
}
.medical-history-inbox img {
  float: left;
  margin-right: 5px;
}
.medical-history-inbox-content {
  text-align: left;
}
.inbox-box {
  float: right;
  height: 85px;
  margin: 10px -10px 0 0;
  padding: 15px 0 0 0;
  width: 213px;
}
.inbox-box .inbox-results-wrapper,
.inbox-box .inbox-results-wrapper a {
  float: left;
}
.inbox-box .inbox-results-wrapper a {
  margin-left: 8px;
}
.health-section-header .js-tooltip-wrapper,
.health-section-header .js-tooltip-wrapper strong {
  width: 175px;
}
.reminder-message-hover li a,
.reminder-message-hover li a span,
.medical-history-reminders li a,
.medical-history-reminders li a span,
li.checklist a,
li.checklist a span {
  color: #000;
}
.reminder-message-hover li a:hover,
.reminder-message-hover li a:hover span,
.medical-history-reminders li a:hover,
.medical-history-reminders li a:hover span,
li.checklist a:hover,
li.checklist a:hover span {
  color: #06c !important;
}
.fb_iframe_widget {
  margin-top: -5px;
}
.rainbow-bridge {
  height: 656px;
  padding-top: 1px;
}
.rainbow-bridge h2 {
  font-weight: normal;
  margin-bottom: 10px;
}
.petbook-modal-page,
.petbook-modal-page * {
  font-family: "Verdana", sans-serif;
}
.petbook-modal-page .article-viewer-wrapper {
  background-color: #fff;
}
.petbook-modal-page #banner .global-banner,
.petbook-modal-page #banner .modal-header {
  float: left;
  width: 1000px;
}
.petbook-modal-page .modal-header {
  background-color: #95eafd;
  height: 65px;
}
.petbook-modal-page .modal-header h1 {
  float: left;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 26px;
  line-height: 20px;
  margin: 5px 0 5px 40px;
  padding: 5px 0 5px 0;
  width: 670px;
}
.petbook-modal-page .modal-header h1 img {
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  display: none;
  float: left;
}
.petbook-modal-page .modal-header span.header-org-name {
  float: left;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  width: 605px;
}
.petbook-modal-page .modal-header span.header-title {
  float: left;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 26px;
  line-height: 20px;
  width: 605px;
}
.petbook-modal-page .modal-header h1 img {
  margin: 0 10px 0 0;
}
.manage-my-account .modal-header h1 {
  padding: 5px 0 5px 5px;
  width: 720px;
}
.manage-my-account .modal-header h1 img {
  display: inline-block;
  background-position: -240px -95px;
}
.appointment-requests .modal-header h1 img {
  display: inline-block;
  background-position: -140px -45px;
}
.prescription-requests .modal-header h1 img {
  display: inline-block;
  background-position: -195px -40px;
}
.vaccination-records .modal-header h1 img {
  display: inline-block;
  background-position: -251px -40px;
}
.petbook-modal-page #main-content {
  float: left;
  width: 1000px;
}
.appointment-requests #main-content .portlet-column,
.prescription-requests #main-content .portlet-column {
  background-color: #b8f1fd;
}
.appointment-requests #main-content #column-footer,
.prescription-requests #main-content #column-footer {
  background-color: transparent;
}
.petbook-modal-page h2,
.petbook-modal-page h2.portlet-header,
.petbook-modal-page h2.section-header {
  color: black;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 24px;
}
.petbook-modal-page h3.section-header {
  color: black;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 20px;
}
.petbook-modal-page .modal-header .petbook-home-link {
  float: right;
  margin: 10px 45px 0 0;
}
.petbook-modal-page .modal-header .petbook-home-link a {
  color: #933;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 15px;
  font-weight: bold;
}
.petbook-modal-page form {
  background-color: white;
  margin: 10px 0 5px 35px;
  padding: 5px 20px;
}
.petbook-modal-page #hrefFm {
  visibility: hidden;
}
.petbook-modal-page fieldset {
  border: none;
}
.petbook-modal-page form p {
  font-size: 12px;
  margin: 15px 0 0 0;
}
.petbook-modal-page label span {
  color: black;
  display: block;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 16px;
}
.petbook-modal-page form textarea {
  margin-top: 15px;
  resize: none;
}
.petbook-modal-page table tr {
  background-color: white;
  border: none;
}
.petbook-modal-page table td {
  background-color: white;
  padding: 15px 0;
}
.petbook-modal-page table th {
  border: none;
  font-size: 16px;
  padding: 0;
}
.petbook-modal-page table img {
  margin: 3px 0 0 8px;
}
.petbook-modal-page #column-footer {
  background-color: #efefe5;
  background-image: url(../images/PBDefaultPageBottom.png);
  background-position: 0 -686px;
  background-repeat: no-repeat;
  float: left;
  margin-left: -5px;
  margin-top: 10px;
  width: 1000px;
}
.petbook-modal-page #column-footer .footer-top-section {
  padding-top: 15px;
}
#wrapper.petbook-modal-page .practice-footer-column-wrapper {
  padding-top: 0;
}
.petbook-modal-page #layout-column_column-1,
.petbook-modal-page #column-2 {
  background-color: #b8f1fd;
}
.petbook-modal-page span {
  float: left;
}
.petbook-modal-page .js-button-row {
  width: 200px;
  margin: 15px auto 5px;
}
.petbook-modal-page .js-button-row input {
  background-color: transparent;
  background-image: none;
  border: solid 1px #5b677d;
  border-radius: 6px;
  color: #933;
  font-family: Rokkitt-Bold, "Times New Roman", serif !important;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 8px;
  text-shadow: none !important;
}
.petbook-modal-page #myPasswordForm .js-button-row input,
.petbook-modal-page #myInformationForm .js-button-row input,
.petbook-modal-page #communicationPreferencesForm .js-button-row input {
  min-width: 120px;
}
.petbook-modal-page .js-button-row input:hover {
  background-color: #933;
  color: white;
}
.button-row-centered {
  display: block;
  float: none;
  margin: 25px auto 5px;
  text-align: center;
  width: auto;
}
.button-row-centered a.button-link {
  background-color: transparent;
  background-image: none;
  border: solid 1px #5b677d;
  border-radius: 6px;
  color: #933;
  font-family: Rokkitt-Bold, "Times New Roman", serif !important;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 8px;
  text-shadow: none !important;
}
.button-row-centered a.button-link:hover {
  background-color: #933;
  color: white !important;
}
.petbook-modal-page .button-row a {
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 14px;
  color: #933;
}
.petbook-modal-page a.info-link {
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  background-position: right center;
  float: right;
  padding-right: 20px;
  text-align: right;
  width: 100%;
}
.lab-results-content .portlet-body,
.medical-notes-content .portlet-body {
  background-color: white;
  margin: 25px;
  padding: 25px 15px 25px;
}
.lab-results-content .embedded-pdf,
.medical-notes-content .embedded-pdf {
  border: solid 1px #777;
  float: left;
  margin-top: 20px;
}
.petbook-modal-page form p.form-info {
  float: right;
  font-size: 13px;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  margin-top: 5px;
}
.leftColumn {
  float: left;
  width: 700px;
}
#myPasswordForm .leftColumn,
#communicationPreferencesForm .leftColumn,
#myInformationForm .leftColumn {
  padding: 0 0 0 20px;
  width: 662px;
}
#myInformationForm .leftColumnFull {
  width: auto;
}
#myPasswordForm .aui-field-label-validation-msg {
  display: block;
  margin: 5px 0;
  padding: 0;
  width: 100%;
}
#changeMyPasswordErrorContainer {
  display: block;
  float: left;
  padding-bottom: 10px;
}
.petbook-modal-page .request-appointment-for,
.petbook-modal-page .request-prescription-for {
  color: black;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 22px;
  margin-bottom: 15px;
}
.petbook-modal-page .request-appointment-for select {
  width: 315px;
}
.petbook-modal-page .practice-hours-container {
  background-color: white;
  margin: 10px 35px 0 5px;
  padding: 20px 0 25px 0;
  width: 320px;
}
.petbook-modal-page .practice-hours-container h3 {
  color: black;
  font-size: 16px;
  margin: 0 25px;
  width: 100%;
}
.petbook-modal-page .practice-hours {
  list-style: none;
  list-style-image: none;
  margin: 0 25px;
  width: 100%;
}
.petbook-modal-page .practice-hours li {
  float: left;
  margin-top: 8px;
  width: 100%;
}
.petbook-modal-page .day-of-week {
  font-weight: bold;
  width: 110px;
}
#appointmentConfirmation {
  background-color: white;
  height: 615px;
  margin: 10px 0 5px 35px;
  padding: 16px 20px;
}
#appointmentConfirmation h1 {
  color: black;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 22px;
  margin-bottom: 15px;
}
#appointmentConfirmation h3 {
  color: black;
  display: block;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 16px;
}
#appointmentConfirmation ul {
  padding-left: 20px;
}
#prescriptionRequestConfirmation {
  background-color: white;
  height: 568px;
  margin: 10px 0 5px 35px;
  padding: 16px 20px;
}
#prescriptionRequestConfirmation h1 {
  color: black;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 22px;
  margin-bottom: 15px;
}
#prescriptionRequestConfirmation h3 {
  color: black;
  display: block;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 16px;
}
#prescriptionRequestConfirmation ul {
  padding-left: 20px;
}
.petbook-modal-page .request-prescription-for select {
  width: 315px;
}
.petbook-modal-page .prescription-request h2 {
  color: black;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 18px;
  width: 100%;
}
.petbook-modal-page .prescription-selection-container {
  border: solid 1px #dedede;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  width: 460px;
}
.petbook-modal-page .prescription-selection-container span {
  width: 100%;
}
.petbook-modal-page .prescription-selection-container input {
  margin-right: 10px;
  vertical-align: bottom;
}
.petbook-modal-page .prescription-selection-container label {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
}
.petbook-modal-page .your-contact-number {
  float: left;
  line-height: 24px;
  margin-bottom: 15px;
}
.petbook-modal-page .prescription-request-note .article-viewer-wrapper,
.petbook-modal-page .emergency-info .article-viewer-wrapper {
  margin: 10px 32px 0 5px;
  padding: 15px 30px;
  position: relative;
  width: 260px;
  z-index: 0;
}
.petbook-modal-page .prescription-request-note .article-viewer-wrapper {
  height: 175px;
}
.petbook-modal-page .emergency-info .article-viewer-wrapper {
  height: 407px;
}
.webkit .petbook-modal-page .emergency-info .article-viewer-wrapper {
  height: 402px;
}
.petbook-modal-page .prescription-request-note h3,
.petbook-modal-page .emergency-info h3 {
  color: black;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 20px;
}
.prescription-requests form textarea {
  margin-top: 0;
  resize: none;
  width: 498px;
}
#petOwnerPhone {
  font-family: Arial;
  font-size: 12px;
  margin-left: 10px;
}
.prescription-requests .petbook-modal-page form {
  margin-top: 0;
  margin-left: 33px;
}
.prescription-requests .ui-widget-content {
  background: none;
}
.prescription-requests .ui-tabs {
  padding: 0;
}
.prescription-requests .ui-tabs .ui-tabs-nav {
  background-color: #b8f1fd;
  border: none;
  margin: 6px 0 0 31px;
}
.prescription-requests .ui-tabs .ui-tabs-panel {
  padding: 0;
}
.prescription-requests .ui-tabs .ui-tabs-nav li {
  border: none;
}
.prescription-requests .ui-tabs .ui-tabs-nav li a {
  padding: 1px 20px;
}
.prescription-requests .ui-state-default a,
.prescription-requests .ui-state-default a:link,
.prescription-requests .ui-state-default a:visited {
  color: #933;
  background-color: #ccc;
  border-radius: 4px 4px 0 0;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 18px;
  font-weight: normal;
}
.prescription-requests .ui-state-active a,
.prescription-requests .ui-state-active a:link,
.prescription-requests .ui-state-active a:visited {
  color: #000;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 18px;
  font-weight: normal;
}
.prescription-requests .ui-state-default .ui-state-hover a,
.prescription-requests .ui-state-default a:hover {
  color: #933 !important;
}
.prescription-requests .ui-state-active .ui-state-hover a,
.prescription-requests .ui-state-active a:hover {
  color: #000 !important;
}
.petbook-modal-page #prescriptionRequestForm {
  height: 564px;
}
.petbook-modal-page .homeDelivery {
  background-color: white;
  height: 565px;
  margin: 0 0 20px 33px;
  padding: 5px 20px !important;
  width: 528px;
}
.petbook-modal-page .homeDelivery h4 {
  color: black;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 22px;
  line-height: 20px;
}
.petbook-modal-page .homeDelivery .VETSOURCE {
  background: url("../images/sprite-3rd-party-rx.png") no-repeat scroll -19px 0 transparent;
  height: 99px;
  margin: 20px 0;
  width: 305px;
}
.petbook-modal-page .homeDelivery .MYVETDIRECT {
  background: url("../images/sprite-3rd-party-rx.png") no-repeat scroll -338px -19px
    transparent;
  height: 103px;
  margin: 20px 0;
  width: 258px;
}
.petbook-modal-page .homeDelivery .PROXYRX {
  background: url("../images/sprite-3rd-party-rx.png") no-repeat scroll -665px -19px
    transparent;
  height: 100px;
  margin: 20px 0;
  width: 300px;
}
.petbook-modal-page .homeDelivery .AAHA {
  background: url("../images/sprite-3rd-party-rx.png") no-repeat scroll -979px -20px
    transparent;
  height: 100px;
  margin: 20px 0;
  width: 300px;
}
.petbook-modal-page .homeDelivery .OTHER {
  background: url("../images/sprite-3rd-party-rx.png") no-repeat scroll -19px -139px
    transparent;
  height: 82px;
  margin: 20px 0;
  width: 65px;
}
.petbook-modal-page .homeDelivery .js-button-row {
  margin: 25px auto 5px;
}
.petbook-modal-page .my-email {
  background-color: white;
  margin: 15px 0 5px 35px;
  padding: 15px 20px 5px 35px;
  width: 859px;
}
.petbook-modal-page #myPasswordForm,
.petbook-modal-page #myInformationForm,
.petbook-modal-page #communicationPreferencesForm {
  font-size: 12px;
  padding-top: 15px;
  width: 874px;
}
.petbook-modal-page #myInformationForm {
  margin-bottom: 7px;
}
.petbook-modal-page #myPasswordForm h2,
.petbook-modal-page #myInformationForm h2,
.petbook-modal-page #communicationPreferencesForm h2,
.petbook-modal-page .my-email h2 {
  width: auto;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 22px;
}
.petbook-modal-page #myPasswordForm ul,
.petbook-modal-page #myInformationForm ul,
.petbook-modal-page #communicationPreferencesForm ul {
  float: left;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.petbook-modal-page #myPasswordForm li {
  float: left;
  margin: 0 0 10px 10px;
  width: 525px;
}
.petbook-modal-page #myInformationForm li,
.petbook-modal-page #communicationPreferencesForm li {
  float: left;
  margin: 0 0 5px 10px;
  width: 525px;
}
.petbook-modal-page #myInformationForm li {
  width: 680px;
}
.petbook-modal-page #myPasswordForm li span:first-child {
  margin-right: 10px;
  width: 175px;
}
.petbook-modal-page #myPasswordForm li span.red {
  display: inline;
  float: none;
}
.petbook-modal-page #myInformationForm li span:first-child {
  margin-right: 10px;
}
.petbook-modal-page #communicationPreferencesForm li #mobilePhoneContainer {
  clear: both;
  display: block;
  float: left;
  margin-top: 5px;
}
.petbook-modal-page
  #communicationPreferencesForm
  li
  #mobilePhoneContainer
  span.red {
  width: auto;
  display: inline;
  margin-right: 0;
}
.petbook-modal-page
  #communicationPreferencesForm
  .checkbox-wrapper
  span.mobilePhoneCheckboxText {
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
  width: auto;
  margin-right: 10px;
}
.petbook-modal-page #myInformationForm .address-info span,
.petbook-modal-page #myInformationForm .phone-info span {
  float: none;
  display: block;
}
.petbook-modal-page #myInformationForm .address-info span.red {
  display: inline;
}
.petbook-modal-page #myInformationForm .address-info span.errorTextRed span.red,
.petbook-modal-page #myInformationForm .phone-info span.errorTextRed span.red,
.petbook-modal-page
  #communicationPreferencesForm
  .sms-info
  span.errorTextRed
  span.red,
.petbook-modal-page #myPasswordForm li span.errorTextRed span.red {
  color: red !important;
}
.petbook-modal-page #myInformationForm .address-info-inline label {
  float: left;
}
.petbook-modal-page #myInformationForm .address-info-inline span {
  width: auto;
  margin-right: 10px;
}
.petbook-modal-page #communicationPreferencesForm .sms-info span {
  text-align: right;
  margin-right: 10px;
}
.petbook-modal-page #myInformationForm .phone-info #phoneerror {
  text-align: right;
  float: left;
  margin-right: 10px;
}
.petbook-modal-page #myInformationForm .phone-info .checkbox-wrapper,
.petbook-modal-page #communicationPreferencesForm .sms-info .checkbox-wrapper {
  float: left;
  margin-top: 14px;
}
.petbook-modal-page #myInformationForm .phone-info #phoneerror,
.petbook-modal-page #communicationPreferencesForm .sms-info #smserror {
  width: auto;
}
.petbook-modal-page #myInformationForm .leftColumn input,
.petbook-modal-page #myInformationForm .leftColumn select,
.petbook-modal-page #communicationPreferencesForm .leftColumn input,
.petbook-modal-page #communicationPreferencesForm .leftColumn select {
  margin-right: 15px;
}
.petbook-modal-page #myPasswordForm li input,
.petbook-modal-page #myInformationForm li input,
.petbook-modal-page #communicationPreferencesForm li input {
  float: left;
}
.petbook-modal-page #myPasswordForm .js-button-row,
.petbook-modal-page #myInformationForm .js-button-row,
.petbook-modal-page #communicationPreferencesForm .js-button-row {
  float: right;
  margin: 0 auto 5px;
  width: auto;
}
.petbook-modal-page #appointmentRequestForm label span.red {
  display: inline;
  float: none;
}
.petbook-modal-page .f11 {
  color: #999 !important;
  font-size: 11px !important;
}
.petbook-modal-page .help {
  color: #666;
  padding: 5px 0 15px;
  font-size: 11px;
}
.petbook-modal-page .address-info .help {
  color: #666;
  padding: 5px 0 5px;
}
.petbook-modal-page .help-wide {
  color: #666;
  padding: 5px 0 15px;
  width: 600px;
  font-size: 11px;
}
.petbook-modal-page .my-email .help-wide {
  font-size: 12px;
}
.petbook-modal-page .help-email p,
.petbook-modal-page .help-mail p {
  margin: 0 0 10px;
}
.petbook-modal-page #myInformationForm .help,
.petbook-modal-page #communicationPreferencesForm .help {
  color: #999;
  float: left;
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 11px;
  font-weight: normal;
  width: auto;
}
#myInformationForm select.countries,
#myInformationForm select.states {
  margin: 0;
}
.petbook-modal-page #myInformationForm #ziperror {
  float: left;
}
.petbook-modal-page #myInformationForm select {
  float: left;
  height: 27px;
}
.petbook-modal-page #communicationPreferencesForm .checkbox-wrapper {
  line-height: 12px;
}
.petbook-modal-page #communicationPreferencesForm .checkbox-wrapper input {
  margin-right: 8px;
}
.petbook-modal-page #communicationPreferencesForm .checkbox-wrapper span {
  font-weight: normal;
  width: auto;
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 12px;
  margin: 0 0 10px;
}
.petbook-modal-page
  #communicationPreferencesForm
  .checkbox-wrapper
  .js-tooltip-wrapper {
  left: 290px;
}
.petbook-modal-page
  #communicationPreferencesForm
  .checkbox-wrapper
  .js-tooltip-unicorn {
  width: 100%;
  margin-bottom: -8px;
  background-position: 11px top;
}
.petbook-modal-page
  #communicationPreferencesForm
  .checkbox-wrapper
  .js-tooltip
  p {
  font-size: 11px !important;
  line-height: 14px;
  text-align: left;
  margin-top: 5px;
}
.petbook-modal-page
  #communicationPreferencesForm
  .checkbox-wrapper
  .js-tooltip-click-content {
  margin-bottom: 0;
}
.petbook-modal-page #communicationPreferencesForm a.select-all {
  color: #933;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 16px;
  margin-left: 10px;
}
.petbook-modal-page #myInformationForm li.phone-info,
.petbook-modal-page #communicationPreferencesForm li.phone-info {
  width: auto;
}
div.petly-dialog-wrapper {
  background: #b8f1fd !important;
  border: none;
  color: black;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 14px;
  padding: 0 0 15px 0;
}
div.petly-dialog-wrapper h1 {
  color: black;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 18px !important;
  margin: 20px 0 0 0;
}
div.petly-dialog-wrapper .ui-widget-header {
  background: #95eafd !important;
  border: none;
  border-radius: 0 !important;
  color: black;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 28px;
  padding: 0 15px;
}
div.petly-dialog-wrapper .ui-widget-header a {
  border-radius: 4px;
  border: solid 1px white !important;
}
div.petly-dialog-wrapper .ui-widget-header a:hover {
  background-color: white;
  border: solid 1px white !important;
  padding: 1px;
}
div.petly-dialog-wrapper .ui-widget-header a:hover .ui-icon {
  background-color: white;
  background-image: url(../images/ui-icons_222222_256x240.png);
}
div.petly-dialog-wrapper #imageUpload #image {
  margin: 10px 0 20px;
  width: 470px;
}
div.petly-dialog-wrapper #imageUpload .portlet-msg-error {
  color: #933;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  margin-bottom: -15px;
}
div.petly-dialog-wrapper #imageUpload h2,
div.petly-dialog-wrapper #imageCrop label span {
  color: #a42b00;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 18px;
}
div.petly-dialog-wrapper #imageUpload p {
  float: left;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
  width: 100%;
}
div.petly-dialog-wrapper #imageCrop label {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
div.petly-dialog-wrapper #imageCrop label input {
  background-color: white;
  background-image: none;
  border: 1px solid black;
  margin-left: 10px;
  outline: none;
  width: 300px;
}
div.petly-dialog-wrapper #imageUpload .buttonWrapper,
div.petly-dialog-wrapper #imageCrop .buttonWrapper {
  text-align: center;
  width: auto;
}
div.petly-dialog-wrapper #imageUpload .button,
div.petly-dialog-wrapper #imageCrop .button {
  background: transparent;
  border: none;
  color: #933;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 14px;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  padding: 6px 8px;
  width: auto;
}
div.petly-dialog-wrapper #imageUpload .button:hover,
div.petly-dialog-wrapper #imageCrop .button:hover {
  color: #369;
  cursor: pointer;
}
div.petly-dialog-wrapper #imageUpload .button-1,
div.petly-dialog-wrapper #imageCrop .button-1 {
  background-color: white;
  background-image: none;
  border: solid 1px #933 !important;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 8px;
}
div.petly-dialog-wrapper #imageUpload .button-1:hover,
div.petly-dialog-wrapper #imageCrop .button-1:hover {
  background-color: #933;
  color: #fff;
  cursor: pointer;
}
div.petly-dialog-wrapper #imageUpload .disabled-button,
div.petly-dialog-wrapper #imageUpload .disabled-button:hover,
div.petly-dialog-wrapper #imageCrop .disabled-button,
div.petly-dialog-wrapper #imageCrop .disabled-button:hover {
  background: lightgray !important;
  border: solid 1px #627782 !important;
  color: grey !important;
}
.red-text {
  color: #933;
}
#portlet_status {
  background-color: white !important;
  background: url("../images/ErrorDog.jpg") no-repeat bottom right;
  border: 0;
  height: 500px;
  width: 993px;
  position: absolute;
  top: 135px;
}
#portlet_status .portlet-content {
  margin-top: 50px;
  margin-left: 50px;
}
#portlet_status .portlet-topper {
  display: none;
}
#portlet_new-password {
  float: left;
  margin-bottom: 100px;
  padding: 0 !important;
}
#portlet_new-password .portlet-content {
  background: #b8f1fd;
  float: left;
  padding-bottom: 55px;
  width: 990px;
}
#portlet_new-password form {
  background-color: transparent;
  background-image: url(../images/Ribbon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 0 20px -85px;
  padding: 75px 0 0 85px;
  position: relative;
  width: 580px;
  z-index: 100;
}
#portlet_new-password .new-password-wrapper {
  background-color: white;
  margin: 20px 0 0 55px;
  padding: 10px 0 30px 50px;
  width: 465px;
  z-index: 0;
}
#portlet_new-password input.aui-button-input-submit {
  background: none;
  background-color: transparent;
  border: solid 1px #5b677d;
  border-radius: 6px;
  color: #933;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 113px;
  height: 26px;
  text-shadow: none;
  width: 90px;
  padding: 5px 8px;
}
#portlet_new-password span.aui-field-text {
  width: 100%;
}
#portlet_new-password label.aui-field-label {
  width: 103px;
}
#portlet_new-password input.aui-field-input {
  width: 300px;
}
#portlet_new-password h1 {
  color: white;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 24px;
  font-weight: bold;
  margin: -54px 0 40px 0;
}
#portlet_new-password h4,
#portlet_new-password form p {
  color: #333;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
}
#portlet_new-password form p {
  margin: 0 0 10px 0;
}
#portlet_new-password .help {
  width: 445px;
}
#portlet_new-password .required {
  float: right;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 13px;
  font-weight: normal;
}
#portlet_new-password .required-indicator {
  color: #933;
  display: inline;
  float: none;
  font-weight: normal;
  margin: 0 0 0 2px;
  width: auto;
}
#portlet_new-password .portlet-msg-error {
  margin: 2px 0 0 0;
  width: 445px;
}
#portlet_new-password label {
  float: left;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  margin: 3px 10px 0 0;
  text-align: right;
  width: 88px;
}
.portlet-login {
  margin: 15px 0 50px 60px;
  width: 550px;
}
.portlet-login h1 {
  color: white;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 24px;
  font-weight: bold;
  margin: -54px 0 40px 20px;
}
.portlet-login h4,
.portlet-login form p {
  color: #333;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 20px;
}
.portlet-login form p {
  margin: 0 0 10px 0;
}
.portlet-login .portlet {
  background-color: transparent;
}
.portlet-login .portlet-content {
  background-color: white;
  min-height: 360px !important;
  padding-top: 10px;
  width: 530px;
}
.portlet-login .portlet-msg-success {
  position: relative;
  top: 95px;
  left: 123px;
  color: #933;
  height: 0;
}
.petbook-modal-page .portlet-login .portlet-msg-success {
  top: inherit;
}
.portlet-login .portlet-msg-error {
  margin: 2px 0 0 118px;
}
.portlet-login label {
  float: left;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  margin: 3px 10px 0 0;
  text-align: right;
  width: 88px;
}
.portlet-login .aui-choice-label {
  color: #777;
  font-family: "Verdana", sans-serif;
  font-size: 11px;
  text-align: left;
  width: 200px;
}
.portlet-login .aui-field-input-choice {
  margin-left: 98px;
}
.portlet-login .taglib-text {
  margin: 0 0 20px 114px;
}
.portlet-login input.aui-button-input-submit {
  background-color: transparent;
  border: solid 1px #5b677d;
  border-radius: 6px;
  color: #933;
  font-family: Rokkitt-Bold, "Times New Roman", serif !important;
  font-size: 16px;
  font-weight: bold;
  margin-left: 118px;
  height: 26px;
  text-shadow: none;
  width: 90px;
  padding: 5px 8px;
}
.portlet-login form {
  background-color: transparent;
  background-image: url(../images/Ribbon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 75px 0 0 45px;
  position: relative;
  margin: 0 0 0 -39px;
  width: 595px;
  z-index: 100;
}
.portlet-login form .aui-fieldset {
  width: 530px;
  margin-left: 20px;
}
.portlet-login .aui-field-input-text {
  width: 300px;
}
.portlet-login .aui-button-holder a {
  clear: both;
  display: block;
  float: left;
  margin-top: 20px;
  text-decoration: underline !important;
  width: 315px;
}
.petly-forgot-password h4 span {
  float: right;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 13px;
  font-weight: normal;
  margin: 4px 55px 0 0;
}
.petly-forgot-password h4 span.errorTextRed {
  float: left;
  margin: 0 3px 0 0;
}
.petly-forgot-password .portlet-msg-error {
  display: block;
  float: left;
  margin: 10px 0 0 118px;
  width: 300px;
}
.petly-forgot-password .aui-field-label {
  margin: 12px 8px 0 0;
  width: 120px;
}
.petly-forgot-password .aui-field-label span {
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  float: right;
  width: 120px;
}
.petly-forgot-password .aui-field-label span.errorTextRed {
  font-weight: normal;
  width: auto;
}
.petly-forgot-password form p {
  color: black;
  font-family: "Verdana", sans-serif;
  font-size: 11px;
  margin: 0;
}
.petly-forgot-password form p.instruction-text {
  clear: both;
  color: #777;
  font-family: "Verdana", sans-serif;
  font-size: 11px;
  margin: 0 0 15px 130px;
}
.petly-forgot-password .aui-form .aui-button-holder {
  margin-bottom: 20px;
}
.petly-forgot-password input.aui-button-input-submit {
  margin-left: 130px;
}
.petly-forgot-password .aui-button-holder a {
  clear: none;
  color: #933;
  display: inline;
  float: left;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 0 0 10px;
  text-decoration: none !important;
  width: auto;
}
.petly-intro-text {
  margin: 50px 0 0 -90px;
  width: 335px;
}
.petly-intro-text .article-viewer-wrapper {
  height: 310px;
  padding: 25px 0 0 0;
  position: relative;
  z-index: 0;
}
.petly-intro-text p {
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin: 10px 8px 15px 15px;
}
.petly-intro-text ul {
  margin-top: 3px;
}
.petly-intro-text ul li {
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 35px;
}
.petly-intro-text #show-me-more-link {
  color: #933;
  display: block;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 56px;
  padding-top: 5px;
  width: auto;
}
.petly-intro-text #show-me-more-link:after {
  content: "!";
}
.appointment-requests
  .petbook-modal-page
  .emergency-info
  .portlet-content-container {
  width: 320px;
}
.pet-image span.edit-caption,
.pet-image .edit-caption-hover {
  cursor: pointer;
}
.petly-activation-wrapper {
  padding-bottom: 10px;
}
.petly-activation-wrapper h4 {
  font-size: 24px;
  width: 470px;
  line-height: 24px;
  margin-bottom: 8px;
}
.petly-activation-wrapper ul {
  float: left;
  list-style: none;
  list-style-image: none;
}
.petly-activation-wrapper li {
  float: left;
  margin-bottom: 10px;
}
.petly-activation-wrapper label {
  margin: 3px 0 10px 0;
  width: auto;
}
.petly-activation-wrapper label span {
  float: left;
  font-family: Rokkitt-Bold, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  margin: 3px 10px 0 0;
  text-align: right;
  width: 118px;
}
.petly-activation-wrapper .aui-field-label-validation input {
  font-size: 11px;
  width: 300px;
}
.petly-activation-wrapper .help {
  width: 480px;
}
.petly-activation-wrapper .required {
  float: right;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 13px;
  font-weight: normal;
}
.petly-activation-wrapper input.aui-button-input-submit {
  margin-left: 128px;
}
.petly-activation-wrapper .required-indicator {
  color: #933;
  display: inline;
  float: none;
  font-weight: normal;
  margin: 0 0 0 2px;
  width: auto;
}
.petly-activation-wrapper h5 {
  color: #333;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 16px;
  margin-bottom: 20px;
}
#wrapper .practice-footer-column li.lr_reviewIcons {
  margin-top: 15px;
}
#wrapper .icon-yelp {
  background: url("../images/sprite_reviews.gif") no-repeat scroll 0 0
    transparent;
  padding: 20px 0 5px 35px;
}
#wrapper .icon-googleplus {
  background: url("../images/sprite_reviews.gif") no-repeat scroll 0 -30px transparent;
  padding: 20px 0 5px 35px;
}
#wrapper .icon-yellowpages {
  background: url("../images/sprite_reviews.gif") no-repeat scroll 0 -60px transparent;
  padding: 20px 0 5px 35px;
}
#wrapper .icon-yahoo {
  background: url("../images/sprite_reviews.gif") no-repeat scroll 0 -90px transparent;
  padding: 20px 0 5px 35px;
}
#wrapper .icon-angieslist {
  background: url("../images/sprite_reviews.gif") no-repeat scroll 0 -120px transparent;
  padding: 20px 0 5px 35px;
}
div.ui-dialog {
  background: none repeat scroll 0 0 #b8f1fd;
  border: medium none;
  color: #000;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 14px;
  padding: 0 0 15px;
}
div.ui-dialog .ui-widget-header {
  background: none repeat scroll 0 0 #95eafd !important;
  border: medium none;
  border-radius: 0 0 0 0 !important;
  color: #000;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 28px;
  padding: 0 15px;
}
div.ui-dialog .ui-widget-header a {
  border: 1px solid #fff !important;
  border-radius: 4px 4px 4px 4px;
}
div.ui-dialog .ui-widget-header a:hover {
  background-color: white;
  border: solid 1px white !important;
  padding: 1px;
}
div.ui-dialog .ui-widget-header a:hover .ui-icon {
  background-color: white;
  background-image: url(../images/ui-icons_222222_256x240.png);
}
.ui-corner-all {
  border-radius: 4px 4px 4px 4px;
}
div.ui-dialog h3 {
  color: #a42b00;
  font-family: Rokkitt-Regular, "Times New Roman", serif;
  font-size: 18px;
  line-height: normal;
}
div.ui-dialog p {
  float: left;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
  width: 100%;
}
div.ui-dialog .ui-dialog-buttonpane {
  border: none;
  margin: 0;
  padding: 0;
}
div.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  background: none repeat scroll 0 0 #b8f1fd;
  float: none;
  text-align: center;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none repeat scroll 0 0 white;
  border: 1px solid #797979;
  color: #a42b00;
  font-weight: bold;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: none repeat scroll 0 0 white;
}
.invisible-dialog {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: medium none;
  border-radius: 0;
  padding: 0;
}
.medical-notes .pdf-link {
  color: #933;
  background-image: url("../images/pdf_icon.gif");
  background-repeat: no-repeat;
  float: left;
  height: 29px;
  line-height: 25px;
  padding: 0 0 0 35px;
}
.petbook-modal-page .rokkit-bold {
  font-family: Rokkitt-Bold, "Times New Roman", serif !important;
}
.custom-dropdown-wrapper .label {
  float: none;
  text-align: left !important;
}
.custom-dropdown {
  position: relative;
  zoom: 1;
  float: left;
  margin-right: 10px;
}
.custom-dropdown.disabled {
  opacity: 0.6;
}
.custom-dropdown input,
.custom-dropdown .dropdown-button {
  display: inline-block;
}
.custom-dropdown input {
  height: 15px;
  min-width: 190px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 0 !important;
}
.custom-dropdown .dropdown-button {
  position: relative;
  padding: 0;
  margin: 0 !important;
  border: 1px solid;
  border-color: #bfbfbf #dedede #dedede;
  border-left: none;
  width: 22px;
  height: 25px;
  cursor: pointer;
}
.custom-dropdown .dropdown-button:before {
  display: block;
  content: "▼";
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.custom-dropdown .dropdown-button.open:before {
  content: "▲";
}
.custom-dropdown ul {
  width: calc(100% - 2px);
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid;
  border-color: #bfbfbf #dedede #dedede #bfbfbf;
  border-top: none;
  overflow: hidden;
  display: none;
}
.custom-dropdown ul li {
  display: block;
  margin: 0 !important;
  padding: 4px 8px !important;
  float: none !important;
  width: auto !important;
  font-weight: normal;
}
.custom-dropdown ul li:hover {
  cursor: pointer;
  background: #933;
  color: #fff;
}
